<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">

<dom-module id="crear-cuenta">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px 20px;
            }
        </style>


    </template>

    <script>
        class CrearCuenta extends Polymer.Element {
            static get is() { return 'crear-cuenta'; }
            static get properties() {
                return {
                    // This shouldn't be neccessary, but the Analyzer isn't picking up
                    // Polymer.Element#rootPath
                    rootPath: String,
                };
            }
        }

        window.customElements.define(CrearCuenta.is, CrearCuenta);
    </script>
</dom-module>