<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/sweet-alert/sweet-alert.html">

<link rel="import" href="shared-styles.html">

<dom-module id="crear-usuario">
 <template>
   <style  include="shared-styles">
     :host {
       display: block;
     }

      paper-button.indigo:hover {
          color: #1883ba;
          background-color: #ffffff;
      }

      paper-button.indigo {
          background-color: var(--paper-indigo-500);
          color: white;
          text-decoration: none;
          padding: 10px;
          font-weight: 600;
          font-size: 12px;
          border-radius: 6px;
          border: 2px solid #0016b0;
          --paper-button-raised-keyboard-focus: {
              background-color: var(--paper-pink-a200) !important;
              color: white !important;
          };
      }
   </style>

  <sweet-alert id="notificacionError" confirm-button-text="Entendido" confirm-button-color="#36043E" background="#9e9406" type="error"></sweet-alert>
  <sweet-alert id="notificacionExito" confirm-button-text="Entendido" confirm-button-color="#36043E" background="#9e9406" type="success"></sweet-alert>

   <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
   <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
   <!-- formulario de registro de usuario-->
    <div class="card">
      <h1>Registro de Usuario</h1>
      <iron-form id="formAddUser" >
        <form method="POST" enctype="application/json" action="http://localhost:3000/apitechu/usuarios">
          <paper-input value="{{nombre::input}}" error-message="Entrada no válida, ingrese caracteres!" always-float-label name="nombre" label="Ingrese su nombre completo" required></paper-input>
          <paper-input value="{{apellido::input}}" error-message="Entrada no válida, ingrese caracteres!" always-float-label name="apellido" label="ingrese sus apellidos" required></paper-input>
          <paper-input value="{{idcliente::input}}" error-message="Entrada no válida, ingrese caracteres!" always-float-label name="idcliente" label="ingrese su DNI" required></paper-input> </paper-input>
          <paper-input value="{{email::input}}" always-float-label name="email" label="ingrese email" type="email" required></paper-input>
          <paper-input value="{{password::input}}" always-float-label name="password" label="ingrese password" type="password" required></paper-input>
          <br>
          <paper-button raised class="indigo" on-click="_submitForm" id="aceptarformAddUser">
            <iron-icon icon="icons:send"></iron-icon>
              Aceptar
          </paper-button>
          <paper-button raised class="indigo" on-click="_resetForm">
            <iron-icon icon="icons:reset"></iron-icon>
            Limpiar
          </paper-button>
          <br>
        </form>
      </iron-form>
    </div>

    <div class="output"></div>

  </template>
  <script>
      /**
       * `crear-usuario`
       *
       *
       * @customElement
       * @polymer
       * @demo demo/index.html
       */
      class CrearUsuario extends Polymer.Element {
        static get is() { return 'crear-usuario'; }
        static get properties() {
          return {
            idcliente: {
              type: Number
            },
            nombre:{
              type: String
            },
            apellido:{
              type: String
            },
            email:{
              type: String
            },
            password:{
              type: String
            },
            storedUser: {
              type: Object
            }
          };
        }
        //METHODS
        connectedCallback() {
          super.connectedCallback();
          const formAddUser = this.$.formAddUser;

          formAddUser.addEventListener('iron-form-submit', (event) => {
            console.log("iron-form-submit");
            console.log(event.detail);
            event.target.request.headers = event.detail;
            
          });
          
          formAddUser.addEventListener('iron-form-response', (event) => {
            console.log("iron-form-response");
            console.log(event.detail.response);
            console.log(event);
            if (200 === event.detail.__data.status) {
              var email = event.detail.__data.response.usuario.email;
              //this.querySelector('.output').innerHTML = "Gracias por registrarse, ahora puede acceder usando su email para acceder";
              this.set('route.path', '/register-login');
            }

          });

          formAddUser.addEventListener('iron-form-presubmit', (event) => {
            console.log("iron-form-presubmit")
            var headers = event.detail;
            console.log(headers)
            event.target.request.headers = headers;
          });
        }

        _submitForm() {
          console.log("_submitForm");
          this.$.formAddUser.submit();
        }

        _resetForm(){
          console.log("_resetForm");
          this.$.formAddUser.reset();
        }

        mostrarExitoAltaCliente() {
          console.log("Ejecutando mostrarExitoAltaCliente");
          this.$.registroUsuarioOK.open();
        }

      }

      window.customElements.define(CrearUsuario.is, CrearUsuario);
    </script>
  </dom-module>
