<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<!--
<link rel="import" href="../bower_components/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item.html">
-->
<link rel="import" href="shared-styles.html">

<dom-module id="crear-movimiento">
 <template>
   <style include="shared-styles">
     :host {
       display: block;
     }

      paper-button.indigo:hover {
          color: #1883ba;
          background-color: #ffffff;
      }

      paper-button.indigo {
          background-color: var(--paper-indigo-500);
          color: white;
          text-decoration: none;
          padding: 10px;
          font-weight: 600;
          font-size: 12px;
          border-radius: 6px;
          border: 2px solid #0016b0;
          --paper-button-raised-keyboard-focus: {
              background-color: var(--paper-pink-a200) !important;
              color: white !important;
          };

      }
   </style>

  <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
  <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
  <app-location route="{{route}}"></app-location>

  <div class="card">
   <h1>Registro de Movimiento</h1>
<!--
id:Number,
fecha:String,
importe:Number,
moneda:String,
tipoimporte:String,
cuentadestino:String,
fechavalor:String
-->

      <iron-form id="formAddMov" >
        <form method="POST" enctype="application/json" action='http://localhost:3000/apitechu/cuentas/movimientos/{{cuentaorigen}}'>
          <!-- carga opciones de cuentas origen
          <paper-dropdown-menu label="Seleccione Cuenta Origen">
            <paper-listbox slot="dropdown-content" class="dropdown-content">

              <template is="dom-repeat" items="{{cuentasorigen}}">
                <paper-item>[[item.iban]]</paper-item>
              </template>
            </paper-listbox>
          </paper-dropdown-menu>
          -->
          <paper-input value="{{cuentaorigen::input}}" error-message="Entrada no válida, ingrese cuenta origen!" 
            always-float-label name="cuenta origen"
            label="Cuenta Origen"></paper-input>
          <paper-input value="{{beneficiario::input}}"
          error-message="Entrada no válida, ingrese caracteres!"
          always-float-label
          name="beneficiario" label="Datos del Beneficiario"></paper-input>
          <paper-input value="{{cuentadestino::input}}"
          error-message="Entrada no válida, ingrese alfanumerico"
          always-float-label
          name="cuentadestino" label="Cuenta Destino"></paper-input>
          <paper-input value="{{importe::input}}" error-message="Entrada no válida, ingrese caracteres!" always-float-label name="importe" label="Ingrese importe Min: 0.01 Máx 15.000,00"></paper-input>
          <paper-input value="{{concepto::input}}" always-float-label name="concepto" label="Concepto (opcional)"></paper-input>
          <label id="label1">Fecha Emisión</label>
          <paper-input id="inputFechaValor" value="{{fechavalor::input}}" name="fechavalor" type="date" ></paper-input>
          <label id="email">Si lo desea, puede enviar un email al beneficiario</label>
          <paper-input value="{{emailbeneficiario::input}}" always-float-label name="emailbeneficiario" label="Email"></paper-input>
          <paper-button raised class="indigo" on-click="_submitForm" id="aceptarformAddMov">Aceptar</paper-button>
          <paper-button raised class="indigo" on-click="_resetForm" id="limpiarformAddMov">Limpiar</paper-button>
        </form>
      </iron-form>
    </div>
  </template>
  
  <script>
      /**
       * `crear-movimiento`
       *
       *
       * @customElement
       * @polymer
       * @demo demo/index.html
       */
      class CrearMovimiento extends Polymer.Element {
        static get is() { return 'crear-movimiento'; }
        static get properties() {
          return {
            cuentasorigen:{
              type:Array,
              value:[]
            },
            beneficiario: {
              type: String
            },
            importe:{
              type: Number
            },
            concepto:{
              type: String
            },
            fechaoperacion:{
              type: String
            },
            fechavalor:{
              type: String,
              value: Date()
            },
            cuentaorigen:{
              type:String
            },
            cuentadestino:{
              type: String
            },
            emailbeneficiario:{
              type:String
            }
          };
        }
        //METHODS
        connectedCallback() {
                  super.connectedCallback();
                  const formAddMov = this.$.formAddMov;
                  const aceptarformAddMov = this.$.aceptarformAddMov;

                  formAddMov.addEventListener('iron-form-submit', (event) => {
                    console.log("iron-form-submit");
                    console.log(event.detail);
                    //event.target.request.headers = event.detail;
                    //this.$.formAddMov.headers = JSON.stringify(event.detail);
                    //formAddMov.disabled = false;
                  });
                  formAddMov.addEventListener('change', (event) => {
                    formAddMov.disabled = !formAddMov.validate();
                  });

                  formAddMov.addEventListener('iron-form-presubmit', (event) => {
                    console.log("iron-form-presubmit")
                    var headers = event.detail;
                    console.log(headers)
                    event.target.request.headers = headers;
                  });
        }

        _submitForm() {
          console.log("_submitform");
          //this.cuentaorigen = this.$.formAddMov.cuentaorigen;
          console.log(this.cuentaorigen);
          console.log(this.$.formAddMov);
          this.$.formAddMov.submit();
        }

        _resetForm(){
          this.$.formAddMov.reset();
        }

        verVistaCrearMovimiento(idcuenta) {
          console.log("Procesando verVistaCrearMovimiento");
          console.log(idcuenta);
          this.cuentaorigen = idcuenta;

        }

        activaFecha(nameInput, elemento) {
          console.log("activaFecha");
          console.log(nameInput);
          var input = document.getElementById(nameInput);
          d = elemento.value;

          if(d == "1"){
            input.disabled = true;
          }else{
            input.disabled = false;
          }
        }
      }

      window.customElements.define(CrearMovimiento.is, CrearMovimiento);
    </script>
  </dom-module>
