<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="crear-cuenta.html">
<link rel="import" href="crear-movimiento.html">
<link rel="import" href="lista-movimientos.html">
<link rel="import" href="visor-cuentas.html">
<link rel="import" href="shared-styles.html">

<dom-module id="escritorio-apptechu">
    <template>
        <style include="shared-styles">
            [hidden] {
                display: none !important;
            }
            :host {
                display: block;

                padding: 10px 20px;
            }
        </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    
    <app-location route="{{route}}"></app-location>

        <iron-ajax 
            id="obtenerUsuario" 
            url="http://localhost:3000/apitechu/usuario/" 
            content-type="application/json" 
            handle-as="json"
            on-response="mostrarUsuario" 
            on-error="mostrarErrorUsuario">
        </iron-ajax>

        <!-- Definir contenedor de operativa de cuentas y movimientos -->
        <visor-cuentas id="visorcuentas" hidden$="[[activarVisorCuentas]]"
            on-evento-ver-cuentas="eventoVerCuentas"
            on-evento-movimientos-cuenta="eventoMovimientosCuenta">
        </visor-cuentas>
        <lista-movimientos id="listamovimientos" hidden$="[[activarVerMovimientos]]"
            on-evento-ver-vista-add-movimiento="eventoVerVistaAddMovimiento"
            on-evento-close-lista-cuentas="eventoCloseListaCuentas">
        </lista-movimientos>
        <crear-movimiento id="crearmovimientos" hidden$="[[activarAddMovimientos]]"
            
            on-evento-close-listamovimientos="eventoCloseListaMovimientos">
        </crear-movimiento>
        <crear-cuenta id="crearcuenta" hidden$="[[activarCrearCuenta]]"
            
            on-evento-close-iniciar-pago="eventoCloseIniciarPagos" 
            on-evento-close-pago-realizado="eventoClosePagoRealizado">
        </crear-cuenta>

    </template>

    <script>
        class EscritorioApptechu extends Polymer.Element {
            static get is() { return 'escritorio-apptechu'; }
            static get properties() {
                return {
                    // This shouldn't be neccessary, but the Analyzer isn't picking up
                    // Polymer.Element#rootPath
                    rootPath:{
                        type:String
                    },
                    token: {
                        type:Object
                    },
                    idcuenta:{
                        type:Number
                    },
                    activarVisorCuentas:{
                        type: Boolean,
                        value:false
                    },
                    activarVerMovimientos: {
                        type: Boolean,
                        value: true
                    },
                    activarAddMovimientos: {
                        type: Boolean,
                        value: true
                    },
                    activarCrearCuenta: {
                        type: Boolean,
                        value: true
                    }                                 
                };
            }

            eventoVerCuentas(e){
                console.log("Ejecutando función eventoVerCuentas, obtenerCuentas del visor-cuentas");
                this.$.visorcuentas.obtenerCuentas();
                console.log(this.cuentas);
                //activación de vistas
                this.activarVisorCuentas = true;
                this.activarVerMovimientos = true;
                this.activarAddMovimientos = false;
                this.activarCrearCuenta =  false;
            }

            eventoMovimientosCuenta(e){
                console.log("eventoMovimientosCuenta");
                console.log(e);
                //var id = e.path["0"].idcuenta;
                var id = e.detail.id;
                console.log(id);
                
                this.$.listamovimientos.recuperarMovimientos(this.token, id);
                this.activarVisorCuentas = true;
                this.activarVerMovimientos = false;
                this.activarAddMovimientos = true;
                this.activarCrearCuenta = true;

            }

            eventoVerVistaAddMovimiento(e){
                console.log("eventoVerVistaAddMovimiento");
                console.log(e.detail);
                this.$.crearmovimientos.verVistaCrearMovimiento(e.detail.idcuenta);
                this.activarVisorCuentas = true;
                this.activarVerMovimientos = true;
                this.activarAddMovimientos = false;
                this.activarCrearCuenta = true;
            }

            eventoCloseListaCuentas(e){
                console.log("eventoCloseListaCuentas")
            }
            eventoCloseListaMovimientos(e) { 
                console.log("eventoCloseListaMovimientos")
            }
            eventoCloseIniciarPagos(e) { 
                console.log("eventoCloseIniciarPagos")
            }
            eventoClosePagoRealizado(e) { 
                console.log("eventoClosePagoRealizado")
            }

            _pintarEstadosActivar(){
                
                console.log("this.activarVisorCuentas");
                console.log(this.activarVisorCuentas);
                console.log("this.activarVerMovimientos");
                console.log(this.activarVerMovimientos);
                console.log("this.activarAddMovimientos");
                console.log(this.activarAddMovimientos);
                console.log("this.activarCrearCuenta");
                console.log(this.activarCrearCuenta);
            }

        }
        window.customElements.define(EscritorioApptechu.is, EscritorioApptechu);
    </script>
</dom-module>