<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="home-apptechu">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <h1>Bienvenido App Techu 3ed</h1>
      <img src="images/vela-bbva.jpg" border="1" alt="BBVA Adelante" width="600" height="400">
    </div>
  </template>

  <script>
    class HomeApptechu extends Polymer.Element {
      static get is() { return 'home-apptechu'; }
    }

    window.customElements.define(HomeApptechu.is, HomeApptechu);
  </script>
</dom-module>
