<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">

<dom-module id="lista-movimientos">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
    <style include="shared-styles">
      :host {
        display: block;
      }
    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}" 
      on-iron-localstorage-load="inicializarDatos"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <app-location route="{{route}}"></app-location>

    <iron-ajax id="listaMovAjax"
      method="get" 
      url="http://localhost:3000/apitechu/cuentas/movimientos"
      handle-as="json" 
      on-response="mostrarMovimientosAjax"
      on-error="mostrarErrorMovimientosAjax">
    </iron-ajax>
  
  <div class="card">
    
    <div id="cab-movimientos">
      <table class="table table-striped">
        <tr>
          <td>Número Cuenta:</td>
          <td>Saldo disponible</td>
          <td></td>
        </tr>
        <tr>
          <td>[[iban]]</td>
          <td>[[saldo]] €</td>
          <td>
            <paper-button class="indigo" on-click="abrirVistaCrearMovimiento" iban$="{{iban}}" id="buttonRealizarTrasferencia">Realizar Transferencia</paper-button>
          </td>
        </tr>
      </table>
    </div>
    <div>
      <h2>Movimientos</h2>
      <table class="table table-striped">
        <thead>
          <th align="left">Fecha</th>
          <th align="right"></th>
          <th align="right">Importe</th>
          <th align="right">Divisa</th>
        </thead>
        <tbody>
          <template is="dom-repeat" items="[[movimientos]]">
            <tr>
              <td align="left">[[item.fecha]]</td>
              <td align="right"></td>
              <td align="right">[[item.importe]]</td>
              <td align="left">[[item.moneda]]</td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
    <p hidden$="[[storedUser.loggedin]]">Debe ir a <a href="/register-login">log in</a> to access a las cuentas!</p>
  </div>

  </template>

  <script>
    class ListaMovimientos extends Polymer.Element {
      static get is() { return 'lista-movimientos'; }

      static get properties() {
        return {
          rootPath:{ 
            type: String
          },
          iban:{ 
            type: String
          },
          saldo:{
            type:Number
          },
          movimientos: {
            type: Array, 
            value:[]
          },
          numcuenta: {
            type:String
          },
          storedUser: {
            type: Object
          }
        };
      }

       /**
       * @description lanza la ejecución del recurso para recupera la información de los 
       * movimientos de una cuenta pasada como parámetro
       * 
       *@argument id: identificador de la cuenta
       *@argument token: objeto token para autorizar el acceso
       */
      recuperarMovimientos(token, id) {
        console.log("Procesando función: recuperarMovimientos:");
        console.log(id);
        //this.set('route.path', '/lista-movimientos');
        this.$.listaMovAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.token;
        this.$.listaMovAjax.headers.id = id;
        this.$.listaMovAjax.generateRequest();
      }

       /**
       * @description ejecución del evento on-response del Ajax para el tratamiento de la respuesta
       * una vez lanzado la consulta al recurso.
       * 
       */
      mostrarMovimientosAjax(resultado){
        console.log("Procesando mostrarMovimientosAjax:");
        console.log(resultado.detail.response);
        console.log(resultado.detail.response.resultado.IBAN);
        console.log(resultado.detail.response.resultado.saldo);
        console.log(resultado.detail.response.resultado.movimientos);

        this.iban=resultado.detail.response.resultado.IBAN;
        this.saldo=resultado.detail.response.resultado.saldo;
       
        this.movimientos = resultado.detail.response.resultado.movimientos;

        this.set('route.path', '/escritorio-apptechu');
      }

       /**
       * @description ejecución de evento on-error del Ajax para el tratamiento de errores 
       *        
       */
      mostrarErrorMovimientosAjax(error){
        console.log("Procesando mostrarErrorMovimientosAjax:");
        console.log(error);
        this.movimientos=[];
      }

      inicializarDatos(){
        console.log("Procesando inicializarDatos");
        if (this.storedUser.loggedin) {
          console.log("usuario logado");
        }
      }

       /**
       * @description lanza el evento abrir vista para crear movimiento  
       *        
       */
      abrirVistaCrearMovimiento(e){
        console.log("Procesando abrirVistaCrearMovimiento");
        
        //recupera el valor del iban desde el atributo del componente button
        console.log(e.path["0"].attributes[7].value);
        var iban = e.path["0"].attributes[7].value;
        //lanza el evento y pasa como parametro el iban
        this.dispatchEvent(new CustomEvent("evento-ver-vista-add-movimiento", { "detail": { "idcuenta": iban } }));

      }
    }

    window.customElements.define(ListaMovimientos.is, ListaMovimientos);
  </script>
</dom-module>