<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="shared-styles.html">

<dom-module id="log-out">
  <template>
    <style include="shared-styles">
      :host {
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- MARKUP GOES HERE -->
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <template is="dom-if" if="{{!link}}">
      <paper-button raised class="indigo" on-click="logout">Log Out</paper-button>
    </template>

    <template is="dom-if" if="{{link}}">
      <paper-button class="link" on-click="logout">Log Out</paper-button>
    </template>

  </template>

  <script>
      class LogOut extends Polymer.Element {
        static get is() {
          return 'log-out';
        }
        static get properties() {
             return {
                 storedUser: {
                   type: Object
                 },
                 link: {
                   type: Boolean,
                   value: false
                 }
             }
       }

        logout() {
            this.storedUser = null;
        }
      }
      window.customElements.define(LogOut.is, LogOut);
  </script>
</dom-module>
