<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="log-out.html">
<link rel="import" href="my-icons.html">
<link rel="import" href="escritorio-apptechu.html">
<link rel="import" href="lista-movimientos.html">
<link rel="import" href="home-apptechu.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="crear-usuario.html">

<link rel="lazy-import" href="home-apptechu.html">
<link rel="lazy-import" href="register-login.html">
<link rel="lazy-import" href="not-found.html">

<dom-module id="my-app">
  <template>
    <style include="shared-styles">
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header, footer{
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }

      app-header .greeting,
      app-header a {
        color: #fff;
        font-size: 13px;
      }
      app-header .greeting {
        border-right: 1px solid rgba(255,255,255,.5);
        display: inline-block;
        padding-right: 6px;
      }
    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-drawer-layout fullbleed >
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" >
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <div name="home-apptechu">
            <a name="home-apptechu" href="[[rootPath]]home-apptechu">Home</a>
          </div>
          <div name="register-login" hidden$="[[storedUser.loggedin]]">
            <a name="register-login" href="[[rootPath]]register-login">Login</a>
          </div> 
          <div name="visor-cuentas" hidden$="[[!storedUser.loggedin]]">
            <a name="visor-cuentas" href="[[rootPath]]visor-cuentas">Posición Global</a>
          </div>
          <div name="crear-usuario" hidden$="[[storedUser.loggedin]]">
            <a name="crear-usuario" href="[[rootPath]]crear-usuario">Registro Usuario</a>
          </div>
          <div name="crear-cuenta" hidden$="[[!storedUser.loggedin]]">
            <a name="crear-cuenta" href="[[rootPath]]crear-cuenta">Contratar Cuenta</a>
          </div>
          <div name="crear-movimiento" hidden$="[[!storedUser.loggedin]]">
            <a name="crear-movimiento" href="[[rootPath]]crear-movimiento">Realizar Transferencia</a>
          </div>
          <div name="salir-app">
            <a name="salir-app" href="#" on-click="logout">Salir</a>
          </div>
        </iron-selector>
      </app-drawer>
 
      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>BBVA App Techu 3ed</div>
              <div hidden$="[[storedUser.loggedin]]">
                <a name="add-user" href="[[rootPath]]crear-usuario" hidden$="[[storedUser.loggedin]]"><img src="images/adduser.png"  width="40" height="40"></a>
                <a name="register-login" href="[[rootPath]]register-login" hidden$="[[storedUser.loggedin]]">Log in</a>
              </div>
              <div hidden$="[[!storedUser.loggedin]]">
                <span class="greeting">Hola {{storedUser.nombre}}</span>
                <log-out class="greeting" stored-user="{{storedUser}}" link></log-out>
              </div>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="not-found"
            role="main">
          <home-apptechu name="home-apptechu"></home-apptechu>
          <register-login name="register-login"></register-login>
          <crear-usuario name="crear-usuario"></crear-usuario>
          <escritorio-apptechu name="escritorio-apptechu"></escritorio-apptechu>
          <lista-movimientos name="lista-movimientos"></lista-movimientos>
          <visor-cuentas name="visor-cuentas"></visor-cuentas>
          <crear-movimiento name="crear-movimiento"></crear-movimiento>
          <crear-cuenta name="crear-cuenta"></crear-cuenta>
          <not-found name="not-found"></not-found>
        </iron-pages>
        <footer>
          &copy; Derechos reservados
        </footer>
      </app-header-layout>

    </app-drawer-layout>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
            value:'home-apptechu'
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          storedUser: {
              type : Object
          }
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        console.log("Ejecutando _routePageChanged:imprime page");
        console.log(page);

        if (page == 'components'){
          page='home-apptechu'
        }
        // If no page was found in the route data, page will be an empty string.
        this.page = page || 'home-apptechu';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        console.log("Ejecutando _pageChanged");
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl(page + '.html');
        console.log(resolvedPageUrl);
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'not-found';
      }
      
      logout() {
        this.storedUser = null;
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
