<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="log-out.html">

<dom-module id="register-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      input {
        position: relative; /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }
    </style>

    <iron-ajax
       id="registerLoginAjax"
       url="http://localhost:3000/apitechu/login"
       method="post"

       handle-as="json"
       on-response="handleUserResponseAjax"
       on-error="handleUserErrorAjax">
     </iron-ajax>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <div class="card">
      <div id="unauthenticated" hidden$="[[storedUser.loggedin]]" >
        <h1>Log In</h1>
        <p><strong>Log in</strong> or <strong>sign up</strong> para acceder a la aplicación </p>
        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>
        <paper-input class="input-style" value="{{email::input}}"  always-float-label name="email"
          label="Ingrese su email" placeholder="nombre@mail.com" required></paper-input>
        <paper-input class="input-style" value="{{password::input}}" always-float-label name="password" 
          label="Ingrese su password" placeholder="Password" type="password" required></paper-input>
        <div class="wrapper-btns">
          <paper-button raised class="primary" on-click='postLogin'>Log in</paper-button>
          <paper-button class="primary" on-click="postRegister">Registrarse</paper-button>
        </div>
      </br>
      </div>
      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
        <h2>Hola, [[storedUser.nombre]]!</h2>
        <p>Bienvenido a la aplicación. Ud. puede acceder a las opciones disponibles</p>
        <log-out stored-user="{{storedUser}}"></log-out>
      </div>
    </div>
  </template>

  <script>
      class RegisterLogin extends Polymer.Element {
          static get is() { return 'register-login'; }

          static get properties() {
              return {

                  email: {
                    type: String,
                    value:"angel@angel.com"
                  },
                  password: {
                    type: String,
                    value:"abc"
                  },
                  //objeto para la gestión del token de acceso
                  storedUser: {
                    type: Object
                  },
                  error: {
                    type: String
                  }
              }
          }

          _setReqBody() {
              console.log("_setReqBody");
              console.log(this.email);
              console.log(this.$.registerLoginAjax.headers);
              this.$.registerLoginAjax.headers.email = this.email;
              this.$.registerLoginAjax.headers.password = this.password;
          }

          postLogin(event) {
              console.log("postLogin");
              console.log(event);
              this._setReqBody();
              this.$.registerLoginAjax.generateRequest();
          }

          postRegister(event) {
              console.log("postRegister")
              console.log(event)
              this.set('route.path', '/crear-usuario');
              /**
              this.$.registerLoginAjax.url = 'http://localhost:3000/apitechu/login';
              this._setReqBody();
              this.$.registerLoginAjax.generateRequest();*/
          }
/*
Una vez logueado el usuario si es exitoso crea el objeto storedUser para gestionar el token.
Ponemos el loggedin a true.

*/
          handleUserResponseAjax(event) {
              console.log("handleUserResponseAjax");
              console.log(event)
              var response = event.detail.__data.response;
              if (response.token) {
                  this.error = '';
                  this.storedUser = {
                      email     : response.user,
                      token     : response.token,
                      expires   : response.expires,
                      nombre    : response.name,
                      idcliente : response.idcliente,
                      loggedin  : true
                  };
                  console.log(this.storedUser);
                  // redirect to visor cuentas
                  //this.set('route.path', '/visor-cuentas');
                  //redirige al contenedor de la aplicación una vez logueado
                  this.set('route.path', '/escritorio-apptechu');
              }
          }

          handleUserErrorAjax(event) {
              console.log("handleUserErrorAjax");
              this.error = event.detail.request.xhr.response;
          }
      }

      window.customElements.define(RegisterLogin.is, RegisterLogin);
  </script>
</dom-module>
