<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="shared-styles.html">

<dom-module id="visor-cuentas">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
    <style  include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      table thead {
        font-weight: bold;
      }
      table tfoot{
        background-color: rgb(0,43,69);
        font-weight: bold;
        font:rgb(255, 255, 255);
      }
    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}" on-iron-localstorage-load="initStoredUser"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <app-location route="{{route}}"></app-location>

    <iron-ajax id="obtenerCuentasAjax"
       url="http://localhost:3000/apitechu/cuentas/cliente"
       method="get"
       handle-as="json"
       on-response="tratarResultadoObtenerCuentasAjax"
       on-error="tratarErrorObtenerCuentasAjax">
    </iron-ajax>
    
    <div class="card" id="posicionglobal" >
      <div>
        <h2>Posición Global</h2>
        <table class="table table-striped">
            <thead>
              <th align="left">Cuentas([[cuentas.length]])</th>
              <th align="right">Saldo Total [[totalcuentas]](€)</th>
            </thead>
            <tfoot >
              <tr>
                <td align="left">Saldo Total ahorros e inversión</td>
                <td align="right">[[totalcuentas]] €</td>
              </tr>
            </tfoot>
            <tbody>
              <template is="dom-repeat" items="{{cuentas}}">
                <tr>
                  <td align="left"><a idcuenta=[[item.id]] iban=[[item.iban]] href="#" on-click="eventoVerMovimientosCuenta" >{{item.IBAN}}</a></td>
                  <td align="right">{{item.saldo}} €</td>
                </tr>
              </template>
            </tbody>
        </table>
      </div>
      <p hidden$="[[storedUser.loggedin]]">Debe ir a <a href="/register-login">log in</a> para acceder a las cuentas!</p>
    </div>
  </template>

  <script>
    /**
     * `visor-cuentas`
     *
     *
     * @customElement
     * @polymer
     * @demo
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          idcliente: {
            type: String
          },
          cuentas:{
            type: Array,
            value: []
          },
          storedUser: {
            type: Object
          },
          cuentaStorage:{
            type: Object
          },
          idcuenta:{
            type: String
          },
          totalcuentas: {
            type: Number,
            value: 0,
            computed: 'calcularTotalCuentas(cuentas)'
          },
          activarvistacuentas:{
            type: Boolean,
            value: false
          }

        };
      }

      initStoredUser() {
        console.log("entrando en initStoredUser");
        console.log(this.storedUser );
          // if entering site on the secret quotes page, verify if logged in and if so, preload a secret quote
          if (this.storedUser.loggedin) {
              this.obtenerCuentas();
          }
      }

      /**
       * @description recupera la información de las cuentas de un cliente pasado como parametro, 
       * es la que carga la información en esta vista
       * 
       */
      obtenerCuentas(){
        console.log("Procesando función: obtenerCuentas:");
        if(this.storedUser.loggedin) {
        this.$.obtenerCuentasAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.token;
        this.$.obtenerCuentasAjax.headers.idcliente = this.storedUser.idcliente;
        this.$.obtenerCuentasAjax.generateRequest();
        }
      }

      /**
       * @description calcula el total de la cuenta seleccionada para actualizar una 
       * propiedad del tipo calculated
       * 
       */

      calcularTotalCuentas(){ 
        console.log("ejecutando calcularTotalCuentas");
        var cuentatotal = 0;

          console.log("cuentas:");
          console.log(this.cuentas.length)
          for (var i = 0; i < this.cuentas.length; i++) {
              console.log(this.cuentas[i].saldo);
              cuentatotal = cuentatotal + this.cuentas[i].saldo;
          }
          console.log(cuentatotal);
          return cuentatotal.toFixed(2);
        
      }
      /**
       * @description evento lanzado por el iron-ajax de esta vista para el tratamiento del resultado de la consulta
       * 
       */
      tratarResultadoObtenerCuentasAjax(resultado){
        console.log("Procesando función: tratarResultadoObtenerCuentasAjax:");
        console.log(resultado.detail.response.cuentas);
        this.cuentas = resultado.detail.response.cuentas;
        //activa la vista
        this.activarvistacuentas = true;
      }
      /**
       * @description evento lanzado en el caso de que la vista retorne error
       * 
       */

      tratarErrorObtenerCuentasAjax(error){
        console.log("Procesando función: tratarErrorObtenerCuentasAjax:");
        console.log(error);
        //desactiva la vista
        this.activarvistacuentas = false;
        //limpia el array de cuentas
        this.cuentas = [];

      }

      /**
       * @description se lanza como evento del hijo del enlace en la cuenta elegida, 
       * lanza el evento para que lo capture 
       * on-evento-movimientos-cuenta
       */
      eventoVerMovimientosCuenta(e){
        console.log("Procesando función: eventoVerMovimientosCuenta:");
        console.log(e.model.__data.item.id);
        
        this.idcuenta = e.model.__data.item.id;

        this.dispatchEvent(new CustomEvent("evento-movimientos-cuenta", {"detail":{"id":this.idcuenta}}));
      }

      /**
       * @description invoca a la ventana para iniciar una transferencia
       * 
       */
      agregarMovimiento(e){
        console.log("Procesando función agregarMovimiento:");
        this.idcuenta = e.model.__data.item.id;

      }

    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
